<form method="post" action="{{ path('kanji_delete', {'id': kanji.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ kanji.id) }}">
    <button class="btn">Delete</button>
</form>
