{% extends 'base.html.twig' %}

{% block title %}New Grammaire{% endblock %}

{% block body %}
    <h1>Create new Grammaire</h1>

    {{ include('grammaire/_form.html.twig') }}

    <a href="{{ path('grammaire_index') }}">back to list</a>
{% endblock %}
