{% extends "base.html.twig" %}
{% block title %}Mon compte
{% endblock %}
{% block body %}
	<h1>Mon Compte</h1>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">{{message}}</div>
	{% endfor %}
    <div class="mx-auto col-sm-6">
		{{ form(form) }}
    </div>
	{% endblock %}
